
.registerContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
.registerContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 20vw;
}
.registerContainer .inputs{
    padding: 0 15px;
    height: 50px;
    margin-bottom: 10px;

}
.registerContainer .checkbox{
    margin-bottom: 10px;
}
.registerContainer button{
    background-color: #ED5353;
    border: none;
    font-size: 25px;
    color: white;
    height: 50px;
}
.registerContainer .login{
    display: flex;
    gap: 10px;
}

.registerContainer .checkbox{
    display: flex;
    align-items: center;
}
.registerContainer img{
    height: 100vh;
    width: 35vw;
}